﻿@model RegisterViewModel

    <div class="login-page">
        <div class="lead">
            <h1>Login</h1>
            <p>Choose how to login</p>
        </div>

        <partial name="_ValidationSummary" />

        <div class="row">

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Local Account</h2>
                    </div>

                    <div class="card-body">
                        <form asp-controller="Account" asp-action="Register" method="post">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="header">Sign Up</div>
                            <div class="block">
                                <label>Username</label>
                                <input asp-for="Username" class="input" />
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div class="block">
                                <label>Firstname</label>
                                <input asp-for="Firstname" class="input" />
                                <span asp-validation-for="Firstname"></span>
                            </div>
                            <div class="block">
                                <label>Lastname</label>
                                <input asp-for="Lastname" class="input" />
                                <span asp-validation-for="Lastname"></span>
                            </div>
                            <div class="block">
                                <label>Email</label>
                                <input asp-for="Email" class="input" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="block">
                                <label>Password</label>
                                <input asp-for="Password" class="input" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="block">
                                <label>Confirm password</label>
                                <input asp-for="ConfirmPassword" class="input" />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="block">
                                <button type="submit" class="button">Sign up</button>
                            </div>
                            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl"
                               class="switch-button">Login</a>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>