﻿@model IQueryable<ServiceItem>
@{
    TextField textFields = ViewBag.TextField;

    ViewBag.Title = textFields.MetaTitle;
    ViewBag.Description = textFields.MetaDescription;
    ViewBag.Keywords = textFields.MetaKeywords;
}

<div>
    @Html.Raw(textFields.Text)
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (ServiceItem entity in Model)
            {
            <li>
                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                </a>
                <h4>@entity.Title</h4>
                <p>@entity.Subtitle</p>
                <h4><a asp-area="" asp-controller="Request" asp-action="Edit" asp-route-serviceId="@entity.Id">Добавить новую заявку</a></h4>
            </li>
            }
        </ul>        
    }
</div>