﻿@model ServiceItem
@{ ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords; }

<div>
    <h2>
        @Model.Title
    </h2>
    <h2>
        @Model.Subtitle
    </h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
</div>
<div>
    @Html.Raw(Model.Text)
</div>
<div>
    <h4><a asp-area="" asp-controller="Request" asp-action="Edit" asp-route-serviceId="@Model.Id">Добавить новую заявку</a></h4>
</div>
