﻿@model RequestDto
@{ string strTitle = "Заявка";
   ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="" asp-controller="Request" asp-action="Edit" method="post" enctype="multipart/form-data">
            @*<div asp-validation-summary="All"></div>*@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LifecycleId" />
            <input type="hidden" asp-for="userId" />
            <div class="div-box">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="div-box">
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
            <div class="div-box div__box-textarea">
                <label asp-for="Comment"></label>
                <textarea asp-for="Comment"></textarea>
                <span asp-validation-for="Comment"></span>
            </div>
            @if (User.IsInRole("admin"))
            {
                <div class="div-box">
                    <label asp-for="ExecutorId"></label>
                    @Html.DropDownList("ExecutorId", ViewBag.Users as SelectList)
                    <span asp-validation-for="ExecutorId"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Status"></label>
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<RequestStatus>()"></select>
                    <span asp-validation-for="Status"></span>
                </div>
            }
            else
            {
                <div class="div-box">
                    <label asp-for="Status"></label>
                    <select disabled="disabled" asp-for="Status" asp-items="Html.GetEnumSelectList<RequestStatus>()"></select>
                    <span asp-validation-for="Status"></span>
                </div>
            }
            <div class="div-box">
                <label asp-for="Priority"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<RequestPriority>()"></select>
                <span asp-validation-for="Priority"></span>
            </div>
            <div class="div-box">
                <label asp-for="ServiceId"></label>
                @Html.DropDownList("ServiceId", ViewBag.Services as SelectList)
                <span asp-validation-for="ServiceId"></span>
            </div>
            @if (User.IsInRole("admin") && Model.Opened != default)
            {
                <div class="div-box">
                    <label asp-for="Opened"></label>
                    <input disabled="disabled" asp-for="Opened" />
                    <span asp-validation-for="Opened"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Proccesing"></label>
                    <input asp-for="Proccesing" />
                    <span asp-validation-for="Proccesing"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Checking"></label>
                    <input asp-for="Checking" />
                    <span asp-validation-for="Checking"></span>
                </div>
            }
            <div class="form__inner">
                <input class="button__add" type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>