﻿@model RequestModelList
@{
    string strTitle = "Заявки";
    var nameFieldsmodel = Model.ListRequests.FirstOrDefault();
}

<div>
    <p><strong>@strTitle</strong></p>
    <a asp-area="" asp-controller="Request" asp-action="Index" asp-route-executerfl="true">Просмотреть неназначенные заявки</a>
    <a asp-area="" asp-controller="Request" asp-action="Index">Все заявки</a>
    <br>
    <br>
    <table class="table" style="max-width:800px">
        <tr>
            <td><label asp-for="@nameFieldsmodel.Opened"></label></td>
            <td><label asp-for="@nameFieldsmodel.Name"></label></td>
            <td><label asp-for="@nameFieldsmodel.Description"></label></td>
            <td><label asp-for="@nameFieldsmodel.Comment"></label></td>
            <td><label asp-for="@nameFieldsmodel.ExecutorId"></label></td>
            <td><label asp-for="@nameFieldsmodel.Status"></label></td>
            <td>Действие</td>
        </tr>

        @foreach (var request in Model.ListRequests)
        {
            var status = (RequestStatus)Enum.GetValues(typeof(RequestStatus)).GetValue(request.Status);
<tr>
    <td>@request.Opened</td>
    <td>@request.Name</td>
    <td>@request.Description</td>
    <td>@request.Comment</td>
    <td>@request.ExecutorName</td>
    <td>@status.GetDisplayName()</td>
    <td>
        <a asp-area="" asp-controller="Request" asp-action="RequestView" asp-route-Id="@request.Id">Просмотреть</a>
        <a asp-area="" asp-controller="Request" asp-action="Delete" asp-route-Id="@request.LifecycleId">Удалить</a>
    </td>
</tr>
}
    </table>
</div>