﻿@model RequestModelList
@{ string strTitle = "Заявка";
    var nameFieldsmodel = Model.ListRequests.FirstOrDefault();
    string idRequest = nameFieldsmodel.Id;
    string idLifecycle = nameFieldsmodel.LifecycleId;
    var status = (RequestStatus)Enum.GetValues(typeof(RequestStatus)).GetValue(nameFieldsmodel.Status);
    var statusName = status.GetDisplayName();
    var priority = (RequestPriority)Enum.GetValues(typeof(RequestPriority)).GetValue(nameFieldsmodel.Priority);
    var priorityName = priority.GetDisplayName(); }

<div>
    <hr />
    <p><strong>@strTitle</strong></p>
    <hr />
    <form enctype="multipart/form-data">
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Name"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Name" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Description"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Description" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Comment"></label>
            <textarea disabled="disabled" asp-for="@nameFieldsmodel.Comment"></textarea>
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.ExecutorId"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.ExecutorName" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Status"></label>
            <input disabled="disabled" asp-for="@statusName" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Priority"></label>
            <input disabled="disabled" asp-for="@priorityName" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Opened"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Opened" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Proccesing"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Proccesing" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Distributed"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Distributed" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Checking"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Checking" />
        </div>
        <div class="div-box">
            <label asp-for="@nameFieldsmodel.Closed"></label>
            <input disabled="disabled" asp-for="@nameFieldsmodel.Closed" />
        </div>
    </form>
    @if (User.IsInRole("admin"))
    {
        <div class="form__inner">
            <a class="button__add-link" asp-area="" asp-controller="Request" asp-action="Edit" asp-route-requestId="@idRequest">Изменить</a>
            <a class="button__add-link" asp-area="" asp-controller="Request" asp-action="Delete" asp-route-Id="@idLifecycle">Удалить</a>
        </div>
        @*<div class="form__inner">
            <a class="button__add" asp-area="" asp-controller="Request" asp-action="Delete" asp-route-Id="@idLifecycle">Удалить</a>
        </div>*@
    }
</div>
