@using Microsoft.AspNetCore.Authentication
@{
    string strTitle = $"Пользователь {@Model?.Name} {Model?.SurName} {Model?.MiddleName} {@User.Identity.Name}";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Информация о пользователе @User.Identity.Name</h3>
        <div>
            <h2>Claims</h2>
            @foreach (var claim in User.Claims)
            {
                <h3>@claim.Type</h3>
                <h3>@claim.Value</h3>
            }
            <h2>Context.Authenticate</h2>
            @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <h3>@prop.Key</h3>
                <h3>@prop.Value</h3>
            }
        </div>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Home" asp-action="Logout" method="post">
            <input class ="button__add" type="submit" value="Выйти" />
        </form>
    </div>
</div>