﻿@model string
@{
    string strTitle = "Добавление роли";
    ViewBag.Title = strTitle;

}
<hr />
<p><strong>@strTitle</strong></p>
<hr />

<div class="form-group">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" /><br />
        <br />
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>