@using Microsoft.AspNetCore.Identity
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <strong class="text_username">@User.Identity.Name</strong>
                <header id="header">
                    <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
                    <nav id="menu1">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
                            </li>
                            <li class="nav__item">
                                <a asp-area="" asp-controller="Request" asp-action="Index" asp-route-id="">Заявки</a>
                            </li>
                            <li class="nav__item">
                                <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="">Дополнительно</a>
                                    <ul>
                                        @if (User.IsInRole("admin"))
                                        {
                                            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index" asp-route-id="">Настройка сайта</a></li>
                                        }
                                        <li><a asp-area="" asp-controller="Home" asp-action="UserInfo" asp-route-id="">@User.Identity.Name</a></li>                                        
                                        <li><a asp-area="" asp-controller="Home" asp-action="Logout">Выйти</a></li>
                                    </ul>
                                </li>
                             }
                        </ul>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>
